.assetfile-cache.json
.claude
.DS_Store
.env
.local
.luau-lsp
.mcp.json
.vscode
*.bak
*.gen.*
*.lock
*.rbxl
*.rbxlx
*.rbxm
*.rbxmx
aftman.toml
Build
DevPackages
Packages
rbx-package-registry
sourcemap.json
Tools
